body{
    background: linear-gradient(100deg, white 60%,#448088 20%);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    height: 937px;
}
section .btn-primary {
    color: #fff;
    background-color: #95C93D;
    border-color: #95C93D;
    border-radius: 32px;

}
.btn-primary:hover {
    color: #fff;
    background-color: #95C93D;
    border-color: #95C93D;
}
.btn-primary:active {
    color: #fff;
    background-color: #95C93D;
    border-color: #95C93D;
}
.btn-primary:focus {
    color: #fff;
    background-color: #95C93D;
    border-color: #95C93D;
    box-shadow: 0 0 0 0;
}
.btn-primary:active:focus {
    box-shadow: 0 0 0 0;
}
section .skills {
    background-color: white;
    border-color: #95C93D !important ;
    border-radius: 15px;
    width: 70%;
}
section .skillnum {
    width: 70%;
}
.pagination{
    height: 32%;
    justify-content: center;
    align-items: flex-end;
    margin: 0;
}
.pagination .page-item{
    margin: 3px;
}
.pagination .page-item .page-link.active{
    clip-path:  circle();
    background-color: #95C93D;
}
.pagination .page-item .page-link{
    clip-path:  circle();
    background-color: #C4C4C4;
    
}
footer {
    display: flex;
    align-items: flex-end;
}
footer .btn-primary {
    color: #fff;
    background-color: #95C93D;
    border-color: #95C93D;
    height: max-content;
    width: 10%;

}
@media (max-width:576px) {
    section .skills {
        width: 100%;
    }
    section .text {
        width: 100% !important;
    }
    .pagination {
        height: 23%;
    }
    footer .btn-primary {
        width: 30%;
    }
    .navbar-brand {
        width: 50%;
    }
    .navbar-brand img{
        width: 100%;
    }
    .user_img{
        width: 15%;
    }
}